name: Test
on:
  - pull_request
  - push

jobs:
  test:
    name: Run test suite
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build docker image
        run: docker build . --file Dockerfile --tag news-summarizer-bot:latest

      - name: Run tests
        run: docker run --rm news-summarizer-bot:latest ./gradlew unit-test

      - name: Run tests
        run: docker run --rm news-summarizer-bot:latest ./gradlew integration-test